* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: auto;
    padding: 20px;
}

h1, p {
    text-align: center;
}

.separator {
    margin-top: 30px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.working-area {
    width: 600px;
    height: 600px;
    outline: 1px solid black;
}

.grid {
    border: 1px solid black
}